<div class="contact">
	<div class="contactPicture" onclick="viewContact({{id}})" data-toggle="modal" data-target="#emptycontact_modal">
		<p>+</p>
		<img>
	</div>

	<div class="contactDetails">
		<div class="filler"></div>
	</div>
</div>

<div class="modal fade" id="emptycontact_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel"> Look for new members </h4>
			</div>

			<div class="modal-body">
				New member options go here
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>