<div class="contact">
	<div class="contactPicture" onclick="viewContact({{id}})" data-toggle="modal" data-target="#contact{{id}}_modal">
		<p>pic goes here</p>
		<img>
	</div>

	<div class="contactDetails">
		<h1>Name: {{name}}</h1>
		<p>Content: {{content}}</p>
	</div>
</div>

<div class="modal fade" id="contact{{id}}_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel"> {{name}} </h4>
			</div>

			<div class="modal-body">
				So you want to add {{name}} as a contact? Well here's some amazingly well formatted
				and informative data on him/her: {{content}}
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>