<?php
$dbconnect_path = "../dbconnect/";


//if (isset($_POST['submitted'])) {
if ($_POST) {
	include($dbconnect_path + 'connect-mysql.php');
	$desc = $_POST['group_description'];
	$meeting_time = $_POST['group_time'];
	$meeting_loc = $_POST['group_loc'];
	$sqlinsert = "INSERT INTO groups (description, meeting_time, meeting_location) VALUES ('$desc', '$meeting_time', '$meeting_loc')";

	if (!mysqli_query($dbcon, $sqlinsert)) {
		die('Error inserting new data, please try again.');
	}

	$confirm = '1 new record successfully added to database.';
}

?>


<div>
	<h1>{{name}}</h1>
	<div id="groupdetails" class="">
		<p>{{description}}</p>
		<p>Time: {{meetingTime}}</p>
		<p>Location: {{meetingLoc}}</p>
	</div>

	<form method="post" action="">
		<div id="editgroup" class="hidden">
			<div class="editgroup_description">
                <p>Description: </p>
                <textarea class="edittext" name="group_description">{{description}}</textarea>
            </div>
            <hr>
            <div class="editgroup_time">
                <p>Time: <textarea class="edittext" name="group_time">{{meetingTime}}</textarea></p>
            </div>
            <hr>
            <div class="editgroup_location">
                <p>Location: <textarea class="edittext" name="group_loc">{{meetingLoc}}</textarea></p>
            </div>
            
            <input id="saveChangesButton" type="submit" value="Save Changes">
		</div>
	</form>

	<div id="editInfoButton" onclick="editGroupInfo()">
		Edit Info
	</div>
</div>



