html, body {
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	position: absolute;
	margin: 0;
}

.header  {
	background-color: #33ccff;
	color: white;
	/*border-radius: 50px;*/
    height: 65px;
    width: 100%;
}

#groupMembers {
	display: inline-block;

	width: 40%;
	min-height: 100%;
	float: left;
	
	background-color: #66CC66;
}

#groupInfo {
	display: inline-block;
	float: right;

	width: 60%;
	height: 50%;
	top: 0px;
	right: 100%;
	
	vertical-align: top;

	overflow-y: auto;
}

#groupNewsfeed {
	display: inline-block;

	width:60%;
	height:50%;
	float: right;
	vertical-align: bottom;
	background-color: gray;
}

#editInfoButton{
	margin: 5px;
	border: black solid 1px;
	border-radius: 5px;
	background-color: green;
	width: 100px;
	text-align: center;
    color: white;
    font-weight: bold;
    display: inline-block;
}

#editInfoButton:hover{
	border: black solid 1px;
	border-radius: 5px;
	background-color: #33FF66;
	width: 100px;
	text-align: center;
    	
}

.button{
    width: 100px;
    height: 70%;
    background: transparent;
    text-align: center;
    display: inline-block;
    margin: 5px;
    /*border: white solid 1px;*/
    border-radius: 10px;
}

.button:hover{
    width: 100px;
    height: 50%;
	background-color: #33FF66;
}

#saveChangesButton{
    display:flex;
}

.groupinfoContainer{
	padding-left: 10px;
	background-color: white;
    font-size: 20px;
}

.groupdetails{
	width: 90%;
	padding-left: 10px;
	border: black solid 10px;
	border-radius: 10px;
}

.groupmemberContainer{
	padding-left: 10px;
}

.contactDetails{
	margin-left: 25%;
	width: 60%;
	background-color: white;
	border-radius: 50px;
	text-align: center;
}

.contactPicture{
	display: block;
	float:left;
	background-color: white;
	border-radius: 50px;
	width:75px;
	height: 75px;
	vertical-align: center;
	text-align: center;
}

.hidden{
	display: none;
}

.edittext{
    resize: none;
    width: 90%;
    margin-left: 5%;
    
}

.editgroup_description{


}

.editgroup_time{
}

.editgroup_location{
}